@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply font-inter;
  }
}

@layer utilities {
  .btn {
    @apply rounded-[30px] bg-secondary px-4 py-4 text-lg font-semibold text-white hover:bg-opacity-70;
  }

  .head-text {
    @apply mt-4 text-6xl font-bold leading-[72px] tracking-[-1.2px] text-gray-900;
  }

  .section-text {
    @apply text-[32px] font-semibold text-secondary;
  }

  .small-text {
    @apply flex gap-2 text-sm font-medium text-primary;
  }

  .paragraph-text {
    @apply text-xl leading-[30px] text-gray-600;
  }

  .hero-carousel {
    @apply relative w-full max-w-[560px] rounded-[30px] bg-[#F2F4F7] py-5 pb-10 sm:mx-auto sm:h-[700px] sm:px-10 sm:pt-20;
  }

  .carousel {
    @apply flex h-[700px] flex-col-reverse;
  }

  .carousel .control-dots {
    @apply static !important;
  }

  .carousel .control-dots .dot {
    @apply bottom-0 h-[10px] w-[10px] rounded-full bg-[#D9D9D9] !important;
  }

  .carousel .control-dots .dot.selected {
    @apply bg-[#475467] !important;
  }

  .trending-section {
    @apply flex flex-col gap-10 px-6 py-12 sm:py-24 md:px-20;
  }

  /* PRODUCT DETAILS PAGE STYLES */
  .product-container {
    @apply flex flex-col flex-wrap gap-16 px-6 py-24 md:px-20;
  }

  .product-image {
    @apply max-w-full flex-grow rounded-[17px] border border-[#CDDBFF] py-16 xl:max-w-[50%];
  }

  .product-info {
    @apply flex flex-wrap items-center gap-10 border-y border-y-[#E4E4E4] py-6;
  }

  .product-hearts {
    @apply flex items-center gap-2 rounded-10 bg-[#FFF0F0] px-3 py-2;
  }

  .product-stars {
    @apply flex items-center gap-2 rounded-[27px] bg-[#FBF3EA] px-3 py-2;
  }

  .product-reviews {
    @apply flex items-center gap-2 rounded-[27px] bg-white-200 px-3 py-2;
  }

  /* MODAL */
  .dialog-container {
    @apply fixed inset-0 z-10 overflow-y-auto bg-black bg-opacity-60;
  }

  .dialog-content {
    @apply my-8  inline-block w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle  shadow-xl transition-all;
  }

  .dialog-head_text {
    @apply mt-4 text-lg font-semibold leading-[24px] text-secondary;
  }

  .dialog-input_container {
    @apply mt-3 flex items-center gap-2 rounded-[27px] border border-gray-300 px-5 py-3;
  }

  .dialog-input {
    @apply flex-1 rounded-[27px] border border-none border-gray-300 pl-1 text-base text-gray-500 shadow-xs focus:outline-none;
  }

  .dialog-btn {
    @apply mt-8 rounded-lg border border-secondary bg-secondary px-5 py-3 text-base font-semibold text-white;
  }

  /* NAVBAR */
  .nav {
    @apply flex items-center justify-between px-6 py-4 md:px-20;
  }

  .nav-logo {
    @apply font-spaceGrotesk text-[21px] font-bold text-secondary;
  }

  /* PRICE INFO */
  .price-info_card {
    @apply flex min-w-[200px] flex-1 flex-col gap-2 rounded-10 border-l-[3px] bg-white-100 px-5 py-4;
  }

  /* PRODUCT CARD */
  .product-card {
    @apply flex w-full flex-1 flex-col gap-4 rounded-[16px] sm:w-[292px] sm:max-w-[292px];
  }

  .product-card_img-container {
    @apply relative flex flex-1 flex-col gap-5 rounded-md p-4;
  }

  .product-card_img {
    @apply h-full max-h-[250px] w-full bg-transparent object-contain;
  }

  .product-title {
    @apply truncate text-xl font-semibold leading-6 text-secondary;
  }

  /* SEARCHBAR INPUT */
  .searchbar-input {
    @apply w-full min-w-[200px] flex-1 rounded-lg border border-gray-300 p-3 text-base text-gray-500 shadow-xs focus:outline-none;
  }

  .searchbar-btn {
    @apply rounded-lg border border-gray-900 bg-gray-900 px-5 py-3 text-base font-semibold text-white shadow-xs hover:opacity-90 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-40;
  }
}
